* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardl {
    width: 440px;
    height: 250px;
    position: relative;
}

.rolebg {
    width: 440px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 20px rgba(255, 255, 255, 0.05);
    transform-origin: bottom;
    transition: 2s;
}

.rolebg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.role {
    width: 440px;
    height: 230px;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 2s;
}

.role img {
    width: 100%;
    height: 100%;
}

.content {
    width: 440px;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: 2s;
}

.content h1 {
    font-weight: 200;
}

.content p {
    font-weight: 200;
    padding-top: 10px;
    font-size: 14px;
}

.cardl:hover .rolebg {
    transform: perspective(1000px) rotateX(30deg) skewX(-20deg);
}

.cardl:hover .role {
    transform: scale(1.3);
}

.cardl:hover .content {
    opacity: 1;
    transform: translateY(120px);
}

/*占位*/
/*占位*/
/*占位*/
/*占位*/
/*占位*/
/*占位*/
/*占位*/
/*占位*/
/*占位*/
